
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Seu Carrinho</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="fecharModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of carrinho">
      <ion-label>
        <h2>{{ item.nome }}</h2>
        <p>Qtd: {{ item.quantidade }} x R$ {{ item.preco | number:'1.2-2' }}</p>
      </ion-label>
      <ion-button slot="end" color="danger" (click)="removerItem(item._id)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Total: R$ {{ total | number:'1.2-2' }}</ion-title>
    <ion-button slot="end" color="success">
      Continuar Pedido
    </ion-button>
  </ion-toolbar>
</ion-footer>
